
.title{
    font-size:25px;
    text-align: ceneter;
    font-family: cursive;
}
.title1{
    font-size:20px;
    text-align: ceneter;
    font-family: cursive;
}
#question{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}
.option{
    background-color:rgb(236, 235, 134);
    width: 400px;
    padding: 20px 25px;
    margin-bottom: 20px;
    border-radius: 50px;
    border: 3px solid transparent;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    justify-content: space-between;
}
.option:hover{
    background-color: rebeccapurple;
}
#high{
    text-emphasis:center;
    font-size: 30px;
}
.h1{
    text-align: center;
    color: palegreen;
    font-size: 25px;
    font-family: cursive;
}
h1{
    text-align: center;
    font-size: 30px;
    font-family: cursive;
}
h1{
    text-align: center;
    font-size: 40px;
    font-family: cursive;
}
#i{
    height: 20px;
}
#margin{
    width: 100%;
    height:3px;
    background-color: purple;
}